name: Obrero Web 
 
on:
  push:
    branches:
      - main
jobs:
  build:
    name: Build Web
    
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v1
    - name: Setup Flutter
      uses: subosito/flutter-action@v1
      with:
        channel: 'stable'
    
    - name: Enable Flutter Web
      run: flutter config --enable-web
    - name: Install dependencies   
      run: flutter pub get
    - name: Build Web  
      run: flutter build web
    - name: Deploy
      uses: peaceiris/actions-gh-pages@v3
      with: 
        github_token: ${{ secrets.token }}
        publish_dir: ./build/web